<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Todo list:</strong>
    <%= task.todo_list_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
